<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.fadli.kulineranjogja">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA2KmnQZZ-INa8gpcHJA7OpfEYtJQwTHQk" />

        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Tentang" />
        <activity android:name=".ui.Profil" />
        <activity android:name=".ui.Kategori" />
        <activity android:name=".ui.MapsActivity" />
        <activity android:name=".ui.Bakso" />
        <activity android:name=".ui.Bakmi" />
        <activity android:name=".ui.MieAyam" />
        <activity android:name=".ui.Restoran" />
        <activity android:name=".ui.Nasgor" />
        <activity android:name=".ui.Kopi" />
        <activity android:name=".ui.Gudeg" />
        <activity android:name=".bakso.Klenger" />
        <activity android:name=".bakso.Bethesda" />
        <activity android:name=".bakso.Sronto" />
        <activity android:name=".bakso.BaksoIdolaku" />
        <activity android:name=".bakso.Baskom" />
        <activity android:name=".bakso.Granatz" />
        <activity android:name=".bakso.Tengkleng" />
        <activity android:name=".bakso.Supri" />
        <activity android:name=".bakso.JawiMiyar" />
        <activity android:name=".bakso.Tembak" />
        <activity android:name=".bakso.Narto" />
        <activity android:name=".bakso.Ironayan" />
        <activity android:name=".bakso.Blangkon" />
        <activity android:name=".bakso.Ito" />
        <activity android:name=".bakso.Telkom" />
        <activity android:name=".bakmie.doring" />
        <activity android:name=".bakmie.dumuk" />
        <activity android:name=".bakmie.geno" />
        <activity android:name=".bakmie.gito" />
        <activity android:name=".bakmie.hadi" />
        <activity android:name=".bakmie.kadin" />
        <activity android:name=".bakmie.lethek" />
        <activity android:name=".bakmie.mbahmo" />
        <activity android:name=".bakmie.pele" />
        <activity android:name=".bakmie.rebo" />
        <activity android:name=".bakmie.shibitsu" />
        <activity android:name=".mieayam.afui" />
        <activity android:name=".mieayam.ijo" />
        <activity android:name=".mieayam.jaya" />
        <activity android:name=".mieayam.masno" />
        <activity android:name=".mieayam.pelangi" />
        <activity android:name=".mieayam.sekarsuli" />
        <activity android:name=".mieayam.sogi" />
        <activity android:name=".mieayam.terbang" />
        <activity android:name=".mieayam.thoyonk" />
        <activity android:name=".mieayam.tikno" />
        <activity android:name=".mieayam.tumini" />
        <activity android:name=".mieayam.virgo" />
        <activity android:name=".restoran.ageng" />
        <activity android:name=".restoran.bale" />
        <activity android:name=".restoran.bear" />
        <activity android:name=".restoran.canting" />
        <activity android:name=".restoran.desa" />
        <activity android:name=".restoran.duwur" />
        <activity android:name=".restoran.goeboeg" />
        <activity android:name=".restoran.honje" />
        <activity android:name=".restoran.kamil" />
        <activity android:name=".restoran.raminten" />
        <activity android:name=".restoran.rnb" />
        <activity android:name=".restoran.sekar" />
        <activity android:name=".restoran.suharti" />
        <activity android:name=".restoran.tan" />
        <activity android:name=".nasgor.beni" />
        <activity android:name=".nasgor.beringharjo" />
        <activity android:name=".nasgor.ita" />
        <activity android:name=".nasgor.mandiri" />
        <activity android:name=".nasgor.maswit" />
        <activity android:name=".nasgor.nasgorpele" />
        <activity android:name=".nasgor.padmanaba" />
        <activity android:name=".nasgor.sular" />
        <activity android:name=".nasgor.wiro" />
        <activity android:name=".kopi.blandongan" />
        <activity android:name=".kopi.dongeng" />
        <activity android:name=".kopi.epic" />
        <activity android:name=".kopi.espreso" />
        <activity android:name=".kopi.hestek" />
        <activity android:name=".kopi.kecil" />
        <activity android:name=".kopi.klinik" />
        <activity android:name=".kopi.lecker" />
        <activity android:name=".kopi.legend" />
        <activity android:name=".kopi.mataram" />
        <activity android:name=".kopi.mato" />
        <activity android:name=".kopi.omah" />
        <activity android:name=".gudeg.amad" />
        <activity android:name=".gudeg.citro" />
        <activity android:name=".gudeg.juminten" />
        <activity android:name=".gudeg.narni" />
        <activity android:name=".gudeg.pawon" />
        <activity android:name=".gudeg.permata" />
        <activity android:name=".gudeg.rini" />
        <activity android:name=".gudeg.sagan" />
        <activity android:name=".gudeg.SentraGudeg" />
        <activity android:name=".gudeg.tekluk" />
        <activity android:name=".gudeg.yujum" />
        <activity android:name=".ui.Bantuan"></activity>
    </application>

</manifest>